<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Multi-page template</title>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


</head>

<body>

<!-- HOME PAGE -->
<div data-role="page" id="one">
	<div data-role="header">
		<h1>Luke's Pizza Shop</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Welcome!</h2>

		<br>
        Welcome to the application, login or register.

		<h3>Show internal pages:</h3>
		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div>
</div>
<!-- END OF HOME PAGE -->



<!-- REGISTER PAGE -->
<div data-role="page" id="register" data-theme="a">
  <div data-role="header">
    <h1>Register</h1>
  </div><!-- /header -->

  <div role="main" class="ui-content">
    <h2>Register</h2>
    Username <input type="text" name="register_username" id="register_username" value="">
    Password <input type="password" name="register_pass" id="register_pass" value="">
    AccType <input type="text" name="acctype" id="acctype" value="">
    <button class="ui-btn" id="registerButton">Submit</button>
  </div>
</div>
<!-- END OF REGISTER PAGE -->



<!-- LOGIN PAGE -->
<div data-role="page" id="login" data-theme="a">
	<div data-role="header">
		<h1>Login page</h1>
	</div><!-- /header -->

    <div role="main" class="ui-content">
		<h2>Login</h2>
	    Username <input type="text" name="login_username" id="login_username" value="">
      Password <input type="password" name="login_pass" id="login_pass" value="">
    	<button class="ui-btn" id="loginButton">Login</button>              
	</div><!-- /content -->
</div>
<!-- END OF LOGIN PAGE -->



{# <!-- DRIVER PAGE -->
<div data-role="page" id="driver" data-theme="a">
    <div data-role="header">
		<h1>Driver</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
      <a href="{{ path('driver') }}" class="ui-btn ui-shadow ui-corner-all">See Orders</a>
      
    
	</div><!-- /content -->
</div>
<!-- END OF DRIVER PAGE --> #}


<!-- CUSTOMER PAGE -->
<div data-role="page" id="customer" data-theme="a">
    <div data-role="header">
		<h1>Customer</h1>
    <h2></h2>
    </div><!-- /header -->
    <div role="main" class="ui-content">
      <a href="{{ path('order') }}" class="ui-btn ui-shadow ui-corner-all">Place an Order</a>
      <a href="{{ path('order') }}" class="ui-btn ui-shadow ui-corner-all">Your Order History</a>
	</div><!-- /content -->
</div>
<!-- END OF CUSTOMER PAGE -->



<!-- MANAGER PAGE -->
<div data-role="page" id="manager" data-theme="a">
  <div data-role="header">
		<h1>Manager</h1>
  </div><!-- /header -->
    
  <div role="main" class="ui-content">
	</div><!-- /content -->
</div>
<!-- END OF MANAGER PAGE -->

</body>

<script>

$( "#loginButton" ).click(function() {
    var un = $( "#login_username" ).val();
    console.log(un);
      
    var pw = $( "#login_pass" ).val();
    console.log(pw);
      
    $.post( "/backend", { type: "login", username:un, password:pw})
    .done(function( data ) {
        if(data == 'customer'){
            window.location="/index#customer";
        }
        else if(data == 'driver'){
            window.location="/driver";
        }     
		else if(data == 'manager'){
            window.location="/index#manager";
        }    
       }); 
  //alert( "register button pressed!" );
});

$( "#registerButton" ).click(function() {
    var un = $( "#register_username" ).val();
    console.log(un);
      
    var pw = $( "#register_pass" ).val();
    console.log(pw);

	var at = $( "#acctype" ).val();
      console.log(acctype);
      
    $.post( "/backend", { type: "register", username:un, password:pw, acctype:at})
    .done(function( data ) {
        alert( "Data Loaded: " + data );
        
        if(data == 'customer'){
            window.location="/index#customer";
        }
        else if(data == 'driver'){
            window.location="/driver";
        }       
		else if(data == 'manager'){
            window.location="/index#manager";
        }  
       }); 
  //alert( "register button pressed!" );
});


</script>
</html>
