{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<div role="main" class="ui-content">
    <div>
        {{dump(result)}}
    </div>

    <script>
    class Product {
        constructor(id, name, price, qty) {
            this.id = id;
            this.name = name;
            this.price = price; 
            this.qty = qty;
        }
    }

    //DEFINE THE PRODUCTS//
    var productsList = [];
    var hawaiian = new Product(1, "Hawaiian", 10, 0);
    productsList.push(hawaiian);
    var newYorker = new Product(2, "New Yorker", 10, 0);
    productsList.push(newYorker);
    var houseSpecial = new Product(3, "House Special", 10, 0);
    productsList.push(houseSpecial);
    console.log(productsList);
    console.log((productsList[1].name).replace(/\s/g, ''));
    console.log(("#"+(hawaiian.name).replace(/\s/g, '')+"Qty"));
    </script>

    <div role="content" class="ui-content">
        <table data-role="table" id="product-table" data-mode="reflow" class="ui-responsive">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>Hawaiian Pizza</th>
                    <th>
                        <button class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-icon-minus ui-btn-icon-notext ui-btn-a ui-mini" id="HawaiianMinus"></button>
                        <span id="HawaiianQty">0</span>
                        <button class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-icon-plus ui-btn-icon-notext ui-btn-a ui-mini" id="HawaiianPlus"></button>
                    </th>
                    <th>
                        <span id="price">10</span>
                    </th>
                </tr>

                <tr>
                    <th>New Yorker</th>
                    <th>
                        <button class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-icon-minus ui-btn-icon-notext ui-btn-a ui-mini" id="NewYorkerMinus"></button>
                        <span id="NewYorkerQty">0</span>
                        <button class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-icon-plus ui-btn-icon-notext ui-btn-a ui-mini" id="NewYorkerPlus"></button>
                    </th>
                    <th>
                        <span id="price">10</span>
                    </th>
                </tr>

                <tr>
                    <th>House Special</th>
                    <th>
                        <button class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-icon-minus ui-btn-icon-notext ui-btn-a ui-mini" id="HouseSpecialMinus"></button>
                        <span id="HouseSpecialQty">0</span>
                        <button class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-icon-plus ui-btn-icon-notext ui-btn-a ui-mini" id="HouseSpecialPlus"></button>
                    </th>
                    <th>
                        <span id="price">10</span>
                    </th>
                </tr>
            </tbody>

        </table>

    </div>

    <div role="content" class="ui-content">     
        <button id="addToCart">Add to Cart</button>
        <button id="removeFromCart">Remove from Cart</button>
        <button id="viewCart">View Cart</button>
    </div>

    <script>
    var cart = [];
    var content = '';
    function updateCart(item) {
        if (item.qty >= 2) {
            content = item.name + " " + item.qty + " Price: " + (item.qty * item.price) + "<br>";
        }
        else if (item.qty >=1) {
            content = content + item.name + " " + item.qty + " Price: " + (item.qty * item.price) + "<br>";
        } 
        $("#myCart").html("Your cart contains: <br>" + content);
    }

    function plusOne(item) {
        if (item.qty < 10) {
            item.qty = item.qty + 1;
            document.getElementById((item.name).replace(/\s/g, '')+"Qty").innerHTML = item.qty;
            console.log(item.qty);
        }
    }

    function minusOne(item) {
        if (item.qty > 0) {
            item.qty = item.qty - 1;
            document.getElementById((item.name).replace(/\s/g, '')+"Qty").innerHTML = item.qty;
            console.log(item.qty);
        }
    }

    $("#HawaiianPlus").click(function() {
        plusOne(hawaiian);
        updateCart(hawaiian);

    });

    $("#HawaiianMinus").click(function() {
        minusOne(hawaiian);
        updateCart(hawaiian);
    });

    $("#NewYorkerPlus").click(function() {
        plusOne(newYorker);
        updateCart(newYorker);

    });

    $("#NewYorkerMinus").click(function() {
        minusOne(newYorker);
        updateCart(newYorker);
    });

    $("#HouseSpecialPlus").click(function() {
        plusOne(houseSpecial);
        updateCart(houseSpecial);

    });

    $("#HouseSpecialMinus").click(function() {
        minusOne(houseSpecial);
        updateCart(houseSpecial);
    });

    </script>

    <div id="myCart">
    </div>
</div>
{% endblock %}
